asgiref==3.11.1
dj-database-url==2.3.0
Django==6.0.4
django-unfold==0.89.0
djangorestframework==3.16.1
djangorestframework-simplejwt==5.5.0
firebase-admin>=6.5.0
gunicorn==23.0.0
packaging==26.0
pillow==12.2.0
psycopg2-binary==2.9.10
python-decouple==3.8
sqlparse==0.5.5
typing_extensions==4.15.0
tzdata==2026.1
whitenoise==6.9.0
